*.class
.classpath
.project
.settings
*.jar
*.war
*.tar.gz
*.gz
*.bz2
*.ear
*.swp
target
%USERPROFILE%
Thumbs.db
Desktop.ini
.idea
secure.console.iml
node_modules
logs
rebel.xml
*.iml
.log
*.log
dep.txt
./dep.txt